.LTpart{
    -fx-background-color: #BABED8;
}
.LBpart{
    -fx-background-color: #F5F5F5 ;
}
.RTpart{
    -fx-background-color: #D3D6EC;
}
.RMpart{
    -fx-background-color: #BABED8;
}
.RBpart{
    -fx-background-color: #BABED8;
}
.TextNumber{
    -fx-alignment: center-right; -fx-padding: 5;
}